@using FinanceHelper.Enums
@model ChangePasswordModel
@{
	ViewData["Title"] = "Alterar senha do usuário";
}
<div class="text-center">
	<h1 class="display-4">Alterar senha do usuário</h1>

</div>

@if (TempData["SuccessMessage"] != null) {

	<div class="alert alert-success" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
		@TempData["SuccessMessage"]
	</div>
}

@if (TempData["ErrorMessage"] != null) {

	<div class="alert alert-danger" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
		@TempData["ErrorMessage"]
	</div>
}
<form asp-controller="ChangePassword" asp-action="GenerateNewPassword" method="post">
	
	<div class="form-group mb-3">
		<label for="current-password">Senha Atual</label>
		<input type="password" asp-for="CurrentPassword" class="form-control" id="current-password" placeholder="Senha Atual">
		@Html.ValidationMessageFor(x => x.CurrentPassword)
	</div>

	<div class="form-group mb-3">
		<label for="new-password">Nova senha</label>
		<input type="password" asp-for="NewPassword" class="form-control" id="new-password" placeholder="Nova senha">
		@Html.ValidationMessageFor(x => x.NewPassword)
	</div>

	<div class="form-group mb-3">
		<label for="confirm-new-password">Confirmar Nova senha</label>
		<input type="password" asp-for="ConfirmNewPassword" class="form-control" id="confirm-new-password" placeholder="Confirmar nova senha">
		@Html.ValidationMessageFor(x => x.ConfirmNewPassword)
	</div>

	<div class="d-flex justify-content-end">
		<a role="button" class="btn btn-secondary mx-1" asp-controller="Home" asp-action="Index">Voltar</a>

		<button type="submit" class="btn btn-primary mx-1">Alterar</button>
	</div>


</form>